html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

a:hover{
  background-color: #1F2667;
  color: white !important;
}
.bottom{
  color: black;
  padding: 2px;
}

h5{
  text-decoration: underline;
  text-transform: uppercase;
}
.p-2{
  text-transform: uppercase;
  font-size: 12px; 
}
hr{
  color: black;
}
.active{
  background-color: #1F2667;
  color: white;
  text-decoration: underline;
}
h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px !important;
  letter-spacing: 2px;
  font-weight: 100;
}

#grad1 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, lightblue, blue); /* Standard syntax (must be last) */
}
li{
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 300;
}
.card-header{
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 800 !important;
}
h1{
  font-family: 'Work Sans', sans-serif !important;
}
.mm{
  font-size: 25px;
}
.text-body{
  padding: 2px;
}
p{
  font-family: 'Work Sans', sans-serif !important;
  font-size: 18px !important;
}
.card-title{
  font-size: 30px !important;
}
#1F2667;